{% extends 'base.html.twig' %}

{% block title %}Contact index{% endblock %}

{% block body %}
<header>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <a class="navbar-brand" href="#">Contactony</a>

        <div class="form-inline" style="margin:auto; padding-left:10%;">
            {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(searchForm) }}
            {{ form_widget(searchForm.firstname, {'label': " ", 'attr': {'placeholder': 'rechercher'}}) }}
            <button class="btn" style="width:15%" type="submit">
                <svg aria-hidden="true" style="width:50%" focusable="false" data-prefix="far" data-icon="search"
                    role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                    class="svg-inline--fa fa-search fa-w-16 fa-3x">
                    <path fill="#fbd46d"
                        d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"
                        class="">
                    </path>
                </svg>
            </button>
        </div>

        <form class="form-inline">
            <a class="btn btn-danger" style="position:fixed; right:20px" href="{{path('app_logout')}}">Déconnexion</a>
        </form>
    </nav>
</header>
<div class="page">

{% if app.user %}
  

    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Phonenumber</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in app.user.contacts %}
        
            <tr>
                <td>{{ contact.firstname }}</td>
                <td>{{ contact.lastname }}</td>
                <td>{{ contact.phonenumber }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a>
                    {{ include('contact/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}


    <a href="{{ path('contact_new') }}">Create new</a>
{% endblock %}
